<form class="form-signin col-md-4 col-md-offset-4" action="/user/changePassword" 
        method="POST">
    <h2 class="form-signin-heading">Change password</h2>

    
    Old Password:
    <input type="text" id="inputUsername" class="form-control" 
        placeholder="Old password" required autofocus name="oldPassword">
    <br>

    New Password:
    <input type="password" id="inputPassword" class="form-control" 
        placeholder="New password" required name="newPassword">
    
    <br>    
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Confirm</button>
        <br>

   
 </form>