<form class="form-signin col-md-4 col-md-offset-4" action="/user/login" 
        method="POST">
    <h2 class="form-signin-heading">Please sign in</h2>

   
    <input type="text" id="inputUsername" class="form-control" 
        placeholder="Username" required autofocus name="username">

   
    <input type="password" id="inputPassword" class="form-control" 
        placeholder="Password" required name="password">
    
    <br>    
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in</button>
        <br>

    <span>No Account? Register <a href="/user/registUI">here</a></span>


 </form>